.header {
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(200, 191, 191);
    box-shadow: 0 2px 4px rgba(65, 63, 63, 0.1);
}

.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}